/backend/data/
/backend/ml/twitter_human_bots_dataset.csv
/backend/node_modules/
/backend/ml/processed.csv
/backend/ml/model.pkl
/backend/ml/vectorizer.pkl
/backend/.env

/backend/ml/bot_detector_model
/backend/ml/processing.py


/backend/ml/__pycache__/
*.pyc
